body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.5; /* 设置全局行间距 */
}

header {
    background-color: #333;
    padding: 1rem 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo {
    max-height: 50px;
    margin-right: 2rem;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem; /* Add bottom margin to avoid footer overlap */
    display: flex;
    width: 100%;
}

.about-container {
    display: flex;
    width: 100%;
}

.left {
    flex: 1;
    max-width: 33%;
    margin-right: 2rem;
}

.right {
    flex: 2;
    max-width: 67%;
}

.pi-title {
    font-size: 1.5rem;
    color: #000080; /* 标题深蓝色 */
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.pi-image {
    width: 25%; /* 确保图片适应父容器 */
    height: auto;
    margin-bottom: 1rem;
}

.pi-details {
    list-style-type: none;
    padding: 0;
    text-align: left;
    line-height: 1.5; /* 设置行间距 */
    color: #000080; /* 标题深蓝色 */
}

.pi-details li {
    margin-bottom: 0.5rem;
    color: #000;
}

.right h2 {
    font-size: 1.5rem;
    color: #000080; /* 标题深蓝色 */
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.right p {
    text-align: justify;
    line-height: 1.5; /* 设置行间距 */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    width: 100%;
}
@media (min-width: 768px) {
    .about-container {
        flex-direction: row;
    }

    .left {
        order: 1;
        max-width: 33%;
        margin-right: 2rem;
    }

    .right {
        order: 2;
        max-width: 67%;
    }
}
